<!DOCTYPE html>
<html class=" negro" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-ES{{ end }}">
    <meta charset="utf-8">
    <meta name="viewport" content="witdth=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code|Press+Start+2P|Source+Code+Pro&display=swap" rel="stylesheet"> 
   
    <link rel="stylesheet" href="/css/bulma.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    
   
    <body class="grisOscuro">
       
            
 
        <div class="">
            <br>
            <h1 class="start2p centrar title textoVerde textoCentrado ">404</h1> 
            <h2 class="start2p centrar title textoVerde textoCentrado ">Not found</h2>   
                    
            <div class="negro">
                <figure class="centrar ">
                    
                    <a class="centrar " href="/">  <img class="centrar" src="/img/coder128.png" width="512" height="512"alt="Brand"></a>
                    
                </figure>
            </div>
            <br>
            <a class="centrar " href="/"><h1 class="start2p centrar title textoVerde textoCentrado">Home</h1> </a>     
                    

        </div>
        <div class="alpie">
           
        </div>
        
        <div class="alpie"></div>  
    </body>

        
</html>
