:root{
    --negro: #23232e;/*#2d2d2d;*/
    --grisOscuro: #4d4d66;/*#777c85;*/
    --grisClaro: #a8a8bd;/*#b3b9c5;*/
    --blanco: #ffffff;
    --rojo: #f2777a;
    --naranja: #fca369;
    --amarillo: #ffd479;
    --amarilloClaro:#ffeea6; 
    --verde: #92d192;
    --azul:#6AB0F3; 
    --azulClaro:#76d4d6; 
    --purpura:#e1a6f2; 
    --purpuraOscuro:#100713;/*#411c4b;*/
    --marron:#ac8d58; 

    --transition-speed: 600ms;
}

.sourceCode {font-family: 'Source Code Pro', monospace;}
.start2p {font-family: 'Press Start 2P', cursive;}
.firaCode {font-family: 'Fira Code', monospace;}
.iconsP {
    height:64px;
    width: 64px;
}
.imgP {
    margin-top: 10px;
    height:128px;
    width: 128px; 
    margin-left: 20px;
    border-radius: 30%;
}

.negro{background-color: var(--negro);}
.grisOscuro{background-color: var(--grisOscuro);}
.grisClaro{ background-color: var(--grisClaro);}
.blanco{background-color: var(--blanco);}
.rojo{ background-color: var(--rojo);}
.naranja{ background-color: var(--naranja);}
.amarillo{ background-color: var(--amarillo);}
.amarilloClaro{background-color: var(--amarilloClaro); }
.verde{background-color: var(--verde);}
.azul{background-color: var(--azul); }
.azulClaro{background-color:var(--azulClaro); }
.purpura{background-color:var(--purpura); }
.marron{background-color:var(--marron); }

.textoVerde{color: var(--verde);}
.textoCentrado{text-align: center;}

.bordeRojo{ border:1px solid var(--rojo); }
.bordeVerde{ border:1px solid var(--verde); }

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: var(--negro);
}
body::-webkit-scrollbar-thumb{
    background: var(--purpura);
}

.alpie{
   display: flex;
   min-height: 20vh;
   flex-direction: column;
   justify-content: space-between;

}
.pie{
    
    height: 20vh;
    
}

.centrar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.derecha{
    position: absolute;
    right: 0;
    top:0;
}