<nav class="container-fluid negro ">
    
    <div class=" ">
        
        <div class=" ">
            <a class="" href="/">   
                <figure class="centrar image is-128x128">
                    <img class="bordeVerde is-rounded" src="{{ .Site.Params.UserIcon }}" width="50" height="50"alt="Brand">
                 
                </figure>
            </a>
           
        </div>
        <div class=" ">
          <a href=""  class="">  
            <h1 class="textoCentrado textoVerde start2p title is-1 "> {{ .Site.Title }}</h1>
          </a>
        </div>
      
    
      </div>

</nav>



    
    