<nav class="lateral-navbar">

  <ul class="lateral-navbar-nav bordeVerde">
    <li class="start2p lateral-nav-item">
      <a href="/" class="lateral-nav-link textoVerde">
        <img src="/img/disk.png" class="nav-img iconsP panel-icon" alt="">
        <span class="textoVerde lateral-nav-text">Home</span>  
      </a>
    </li>
    <li class="start2p lateral-nav-item ">
      <a href="/posts/" class="lateral-nav-link textoVerde">
        <img src="/img/paper.png" class="nav-img iconsP panel-icon" alt="">
        <span class="textoVerde lateral-nav-text">Posts</span>  
      </a>
    </li>
    <li class="start2p lateral-nav-item ">
      <a href="/projects/" class="lateral-nav-link textoVerde">
        <img src="/img/flami.png" class="nav-img iconsP panel-icon" alt="">
        <span class="textoVerde lateral-nav-text">Projects</span>  
      </a>
    </li>
    <li class="start2p lateral-nav-item ">
      <a href="/about/" class="lateral-nav-link textoVerde">
        <img src="/img/gosht.png" class="nav-img iconsP panel-icon" alt="">
        <span class="textoVerde lateral-nav-text">About</span>  
      </a>
    </li>
    
  </ul>

</nav>
