
<div class="column">
    <div class="card grisClaro bordeVerde">
        <div class="start2p card-header">
            <p class="card-header-title is-centered">
            {{ .Title }}
            </p>
        </div>
        <div class="card-content">
            <!-- no se renderiza correctamente este resumen como html
            se muestra todo el texto y los títulos apelotonado, lo pongo
             completo hasta que vea una solución-->
            <!--p class="content">{{ .Summary }}</p-->
            
            <div class="">
                        
                <div class="content">
                {{ .Content }}
                </div>
                <br>
            </div>
        
            <!--a href="{{ .Permalink }}">Continuar</a-->
        </div>
        <div class="card-footer">
            <small class="card-footer-itme centrar">{{ dateFormat "January 2 - 2006" .Date }}</small>
        </div>
    </div>
</div>

